# **Data Ingestion**

Este notebook se destina a **organizar corretamente os dados antes da análise**.

Os dados estão divididos em vários arquivos, são eles:

* **`olist_customers_dataset.csv`**
* **`olist_geolocation_dataset.csv`**
* **`olist_orders_dataset.csv`**
* **`olist_order_items_dataset.csv`**
* **`olist_order_payments_dataset.csv`**
* **`olist_order_reviews_dataset.csv`**
* **`olist_products_dataset.csv`**
* **`olist_sellers_dataset.csv`**

Estes **datasets seguem uma estrutura SQL** (inferi da fonte), o que torna **possível juntá-los em uma única tabela**, tornando a manipulação dos dados mais fácil. Portanto, neste notebook eu irei explorar como juntar esses datasets e, depois, o código será passado para um script python que irá aplicar esta junção nos dados e salvar o dataset resultante na pasta **/artifacts**.

## **1. Carregar os datasets**

In [128]:
# importar bibliotecas
import os
from pathlib import Path
import pandas as pd

In [129]:
datasets_dir = Path('../datasets')

# carregar os datasets
datasets = {}
for dataset_filename in os.listdir(datasets_dir):

    # remover 'olist_' e '_dataset' do nome dos arquivos
    datasets[Path(
        dataset_filename.\
        replace('olist_', '').\
        replace('_dataset', '')).stem] = pd.read_csv(datasets_dir / dataset_filename)

In [130]:
# mostrar os nomes dos datasets
for key in datasets.keys():
    print(key)

customers
geolocation
orders
order_items
order_payments
order_reviews
products
sellers

In [131]:
# mostrar dataset de customers
datasets['customers'].head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [132]:
# mostrar dataset de geolocation
datasets['geolocation'].head()

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [133]:
# mostrar dataset de orders
datasets['orders'].head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [134]:
# mostrar dataset de order_items
datasets['order_items'].head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [135]:
# mostrar dataset de order_payments
datasets['order_payments'].head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [136]:
# mostrar dataset de order_reviews
datasets['order_reviews'].head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [137]:
# mostrar dataset de products
datasets['products'].head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [138]:
# mostrar dataset de sellers
datasets['sellers'].head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

## **2. Juntar os datasets**

No Kaggle, onde baixei os dados, encontramos um esquema de como os conjuntos de dados se interligam. Eu usarei exatamente este esquema para me auxiliar a juntar os datasets.

O dataset central é o de **orders**, o qual usarei de base para as junções. A seguir irei efetuar as seguintes junções em sequêcia:

1. Juntar **order_reviews** à **orders** usando **order_id**;
2. Juntar **order_payments** à **orders** usando **order_id**;
4. Juntar **order_items** à **orders** usando **order_id**;
5. Juntar **products** à **orders** usando **product_id**;
6. Juntar **sellers** à **orders** usando **seller_id**;
7. Juntar **customers** à **orders** usando **customer_id**;

In [139]:
# copiar dataset 'orders'
final_dataset = datasets['orders'].copy()

In [140]:
# junções
final_dataset = final_dataset.merge(datasets['order_reviews'], how='left', on='order_id')
final_dataset = final_dataset.merge(datasets['order_payments'], how='left', on='order_id')
final_dataset = final_dataset.merge(datasets['order_items'], how='left', on='order_id')
final_dataset = final_dataset.merge(datasets['products'], how='left', on='product_id')
final_dataset = final_dataset.merge(datasets['sellers'], how='left', on='seller_id')
final_dataset = final_dataset.merge(datasets['customers'], how='left', on='customer_id')

In [141]:
final_dataset

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,product_length_cm,product_height_cm,product_width_cm,seller_zip_code_prefix,seller_city,seller_state,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,19.0,8.0,13.0,9350.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,19.0,8.0,13.0,9350.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,19.0,8.0,13.0,9350.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,8d5266042046a06655c8db133d120ba5,4.0,...,19.0,13.0,19.0,31570.0,belo horizonte,SP,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,e73b67b67587f7644d5bd1a52deb1b01,5.0,...,24.0,19.0,21.0,14840.0,guariba,SP,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,29bb71b2760d0f876dfa178a76bc4734,4.0,...,40.0,10.0,40.0,17602.0,tupa,SP,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP
119139,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,371579771219f6db2d830d50805977bb,5.0,...,32.0,90.0,22.0,8290.0,sao paulo,SP,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA
119140,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,...,20.0,20.0,20.0,37175.0,ilicinea,MG,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
119141,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,...,20.0,20.0,20.0,37175.0,ilicinea,MG,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ
119142,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,dc9c59b4688062c25758c2be4cafc523,5.0,...,16.0,7.0,15.0,14407.0,franca,SP,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR

Ainda resta juntar geolocation ao dataset final. Mas antes, irei remover valores duplicados de geolocation, caso haja algum e também, irei considerar apenas latitude e longitude do dataset geolocation, pois as demais informações, como city e state, já estão presentes em outros datasets.

In [142]:
# mostrar quantidade de valores duplicados de geolocation
datasets['geolocation'].duplicated().sum()

261831

In [143]:
# remover duplicatas
unique_geolocations = datasets['geolocation'].drop_duplicates().copy()

In [144]:
# remover informações já presentes em outros datasets
unique_geolocations.drop(['geolocation_city', 'geolocation_state'], axis=1, inplace=True)

In [145]:
# quantoas duplicatas de zip_code_prefix apenas exstem?
unique_geolocations['geolocation_zip_code_prefix'].duplicated().sum()

719317

Como pode-se notar acima, os zip codes são incompletos (apenas os prefixos), dessa forma, existem zip codes relacionados a mais de uma localização — no caso, múltiplas latitudes e longitudes por zip code — Uma solução para isso, é calcular a média de latitude e longitude entre os exemplos duplicados, o que não mostrará a localização perfeitamente, mas servirá como aproximação.

In [146]:
# calcular latitudes e longitudes médias
mean_locations = unique_geolocations.groupby('geolocation_zip_code_prefix').agg({  
    'geolocation_lat' : 'mean',
    'geolocation_lng': 'mean'
    }).reset_index()

In [147]:
# renomear geolocation_lat e geolocation_lng para mean_lat e mean_lon
# renomear também geolocation_zip_code_prefix para zip_code_prefix
mean_locations.columns = ['zip_code_prefix', 'mean_lat', 'mean_lon']

In [148]:
# visualizar resultado
mean_locations

       zip_code_prefix   mean_lat   mean_lon
0                 1001 -23.550227 -46.634039
1                 1002 -23.547657 -46.634991
2                 1003 -23.549000 -46.635582
3                 1004 -23.549829 -46.634792
4                 1005 -23.549547 -46.636406
...                ...        ...        ...
19010            99960 -27.953722 -52.025511
19011            99965 -28.183372 -52.039850
19012            99970 -28.343920 -51.874988
19013            99980 -28.389500 -51.843122
19014            99990 -28.329595 -51.769362

[19015 rows x 3 columns]

In [149]:
# fazer a junção dos dados
final_dataset = final_dataset.merge(
    mean_locations,
    how='left',
    left_on='customer_zip_code_prefix',
    right_on='zip_code_prefix')

final_dataset = final_dataset.merge(
    mean_locations,
    how='left',
    left_on='seller_zip_code_prefix',
    right_on='zip_code_prefix',
    suffixes=['_costumer', '_seller'])

In [150]:
final_dataset.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date',
       'review_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value', 'order_item_id', 'product_id',
       'seller_id', 'shipping_limit_date', 'price', 'freight_value',
       'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm',
       'seller_zip_code_prefix', 'seller_city', 'seller_state',
       'customer_unique_id', 'customer_zip_code_prefix', 'customer_city',
       'customer_state', 'zip_code_prefix_costumer', 'mean_lat_costumer',
       'mean_lon_costumer', 'zip_code_prefix_seller', 'mean_lat_seller',
       'mean_lon_seller'],
      dtype='object')

In [151]:
# visualizar resultado
final_dataset

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,...,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,zip_code_prefix_costumer,mean_lat_costumer,mean_lon_costumer,zip_code_prefix_seller,mean_lat_seller,mean_lon_seller
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3149.0,-23.577482,-46.587077,9350.0,-23.680862,-46.444311
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3149.0,-23.577482,-46.587077,9350.0,-23.680862,-46.444311
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,...,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,3149.0,-23.577482,-46.587077,9350.0,-23.680862,-46.444311
3,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,8d5266042046a06655c8db133d120ba5,4.0,...,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,47813.0,-12.186877,-44.540232,31570.0,-19.807885,-43.980818
4,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,e73b67b67587f7644d5bd1a52deb1b01,5.0,...,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,75265.0,-16.745150,-48.514783,14840.0,-21.363473,-48.229588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,29bb71b2760d0f876dfa178a76bc4734,4.0,...,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,11722.0,-24.001334,-46.450022,17602.0,-21.930464,-50.498065
119139,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,371579771219f6db2d830d50805977bb,5.0,...,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,45920.0,-17.898045,-39.373106,8290.0,-23.553949,-46.453257
119140,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,...,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,28685.0,-22.563909,-42.695343,37175.0,-20.940712,-45.827195
119141,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,...,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,28685.0,-22.563909,-42.695343,37175.0,-20.940712,-45.827195
119142,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,dc9c59b4688062c25758c2be4cafc523,5.0,...,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,83750.0,-25.764399,-49.719699,14407.0,-20.496403,-47.418012

Por fim, vou remover algumas colunas que não são relevantes (ou até mesmo redundantes com outras), são elas:

* **customer_id**: necessária apenas para juntar as tabelas.

* **customer_zip_code_prefix**: já possuo a informação de latitude e longitude.

* **zip_code_prefix_costumer**:  equivalente a customer_zip_code_prefix.

* **seller_zip_code_prefix**: já possuo a informação de latitude e longitude.

* **zip_code_prefix_seller**: equivalente a seller_zip_code_prefix.

In [152]:
final_dataset.drop(
    ['customer_id', 
     'customer_zip_code_prefix', 
     'zip_code_prefix_costumer',
     'seller_zip_code_prefix',
     'zip_code_prefix_seller'], axis=1, inplace=True)

In [153]:
# visualizar resultado final
final_dataset

,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,review_id,review_score,review_comment_title,...,product_width_cm,seller_city,seller_state,customer_unique_id,customer_city,customer_state,mean_lat_costumer,mean_lon_costumer,mean_lat_seller,mean_lon_seller
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,...,13.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,-23.577482,-46.587077,-23.680862,-46.444311
1,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,...,13.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,-23.577482,-46.587077,-23.680862,-46.444311
2,e481f51cbdc54678b7cc49136f2d6af7,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00,a54f0611adc9ed256b57ede6b6eb5114,4.0,NaN,...,13.0,maua,SP,7c396fd4830fd04220f754e42b4e5bff,sao paulo,SP,-23.577482,-46.587077,-23.680862,-46.444311
3,53cdb2fc8bc7dce0b6741e2150273451,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00,8d5266042046a06655c8db133d120ba5,4.0,Muito boa a loja,...,19.0,belo horizonte,SP,af07308b275d755c9edb36a90c618231,barreiras,BA,-12.186877,-44.540232,-19.807885,-43.980818
4,47770eb9100c2d0c44946d9cf07ec65d,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00,e73b67b67587f7644d5bd1a52deb1b01,5.0,NaN,...,21.0,guariba,SP,3a653a41f6f9fc3d2a113cf8398680e8,vianopolis,GO,-16.745150,-48.514783,-21.363473,-48.229588
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119138,63943bddc261676b46f01ca7ac2f7bd8,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00,29bb71b2760d0f876dfa178a76bc4734,4.0,NaN,...,40.0,tupa,SP,da62f9e57a76d978d02ab5362c509660,praia grande,SP,-24.001334,-46.450022,-21.930464,-50.498065
119139,83c1379a015df1e13d02aae0204711ab,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00,371579771219f6db2d830d50805977bb,5.0,NaN,...,22.0,sao paulo,SP,737520a9aad80b3fbbdad19b66b37b30,nova vicosa,BA,-17.898045,-39.373106,-23.553949,-46.453257
119140,11c177c8e97725db2631073c19f07b62,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,NaN,...,20.0,ilicinea,MG,5097a5312c8b157bb7be58ae360ef43c,japuiba,RJ,-22.563909,-42.695343,-20.940712,-45.827195
119141,11c177c8e97725db2631073c19f07b62,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00,8ab6855b9fe9b812cd03a480a25058a1,2.0,NaN,...,20.0,ilicinea,MG,5097a5312c8b157bb7be58ae360ef43c,japuiba,RJ,-22.563909,-42.695343,-20.940712,-45.827195
119142,66dea50a8b16d9b4dee7af250b4be1a5,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00,dc9c59b4688062c25758c2be4cafc523,5.0,NaN,...,15.0,franca,SP,60350aa974b26ff12caad89e55993bd6,lapa,PR,-25.764399,-49.719699,-20.496403,-47.418012